[access]
	inheritFrom = All-Projects
[project]
	description = Common Device Model
[access "refs/for/refs/heads/*"]
	push = group HAE
	push = group cf-base-committers
[access "refs/heads/*"]
	create = group HAE
	create = group cf-base-committers
	forgeAuthor = group HAE
	forgeAuthor = group cf-base-committers
	label-Code-Review = -2..+2 group HAE
	label-Code-Review = -2..+2 group cf-base-committers
	submit = group HAE
	submit = group cf-base-committers
	editTopicName = group HAE
	editTopicName = group cf-base-committers
	abandon = group HAE
	abandon = group cf-base-committers
[access "refs/meta/config"]
	read = group HAE
	read = group cf-base-committers
[access "refs/tags/*"]
	pushTag = group HAE
	pushTag = group cf-base-committers
	pushSignedTag = group HAE
	pushSignedTag = group cf-base-committers
[access "refs/for/*"]
	pushMerge = group HAE
	pushMerge = group cf-base-committers
